#nav{
    width: 100%;
    z-index:100;
    border-bottom: 1px solid var(--color-grey-6);
    background-color: transparent;
}
#nav > .nav-container{
    width : 80%;
    height: 100%;
    margin : auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#user-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 250px;
}
#user-img{
    position : relative;
    display: inline-block;
}
#user-icon{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
#user-level{
    display: inline-block;
    position: absolute;
    top: -3px;
    right: -3px;
}
#level-icon{
    width: 25px;
}
#user-name{
    display: inline-block;
    min-width: 100px;
}
#user-name p{
    font-size : var(--font-size-20);
    font-family: 'neodgm_pro';
    font-weight: var(--weight-regular);
    color : var(--color-grey-2);
    margin : 0px 10px 0px 5px;
}
#menu-container{
    display: flex;
    position: relative;
    cursor: pointer;
}
#menus{
    background-color: var(--color-white);
    box-shadow: 0px 3px 6px #B3B3B329;
    border: 1px solid var(--color-grey-4);
    padding : 10px;
    position: absolute;
    width: max-content;
    right: 0px;
    transition : .3s ease-in-out;
    list-style: none;
}
.menu-inactive{
    visibility : hidden;
    transform : translateY(-20px);
    opacity: 0;
}
.menu-active{
    visibility : visible;
    transform : translateY(0);
    opacity: 1;
}
#menus li{
    margin : 5px 0px; 
    list-style:none;
    cursor: pointer;
}
#menus li button{
    font-size : var(--font-size-14);
    font-family: 'neodgm_pro';
    font-weight: var(--weight-regular);
    color : var(--color-grey-2);
    margin : 0px 10px 0px 0px;
    padding : 5px;
}
#menus li:hover{
    background-color: var(--color-grey-5);
}
.logo{
    min-height: 102px;
}

.pixel, .pixel2 {
    font-size: 25px;
    color: white;
    height: auto;
    margin: 10px;
    font-family: 'VT323';
    
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .pixel:active, .pixel2:active {
    top: 2px;
  }
  
  .pixel {
    line-height: 0;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  }
  
  .pixel p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
   
      background: #000000;
      background:
          linear-gradient(135deg, transparent 10px, #000000 0) top left,
          linear-gradient(225deg, transparent 10px, #000000 0) top right,
          linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
          linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image:
          radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
  }
  
  .pixel2 {
    position: relative;
    display: block;
    margin: 10px;
    text-transform: uppercase;
    font-family: 'neodgm_pro';
    font-size: 25px;
    color: white;
  }
  
  .pixel2::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: black;
    z-index: -1;
  }
  
  .pixel2::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: black;
    z-index: -1;
  }
  
  .pixel2 {
    padding: 10px 10px;
    position: relative;
    background: black;
    width: auto;
    z-index: 2;
  }