#unity-game{
    height: max-content;
    position: fixed;
    top: 0;
    left: 0;
}
#game-container{
    position: relative;
}
#link-btn{
    background-color: var(--color-white);
    padding : 10px;
    border : 1px solid var(--color-white);
    border-radius: 15px;
    position : absolute;
    bottom : 8%;
    left : 45%;
    font-size: var(--font-size-18);
    color: var(--color-grey-1);
    font-family: "AppleSDGothicNeoB";
}
.small-map{
    transform: none !important;
    top: 85% !important;
    left: 90% !important;
}
.map-alt{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    position: absolute;
    z-index: 1000;
    cursor: pointer;
}
.mini-alt{
    position: absolute;
    z-index: 1000;
    top: 5px;
    left: 5px;
}
#mini-alt-icon{
    color : var(--color-white);
    font-size: var(--font-size-35);
}
#keydown-map-alt{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
#mini-alt-text{
    color : var(--color-white);
    font-size: var(--font-size-18);
    font-family: 'AppleSDGothicNeoB';
    font-weight: var(--weight-regular);
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
#keydown-alt-text{
    color : var(--color-white);
    font-size: var(--font-size-22);
    font-family: 'AppleSDGothicNeoB';
    font-weight: var(--weight-regular);
    margin: 20px 0px;
}
#keydown-alt-icon{
    color : var(--color-white);
    font-size: var(--font-size-40);
}

.pixel, .pixel2 {
    font-size: 25px;
    color: white;
    height: auto;
    margin: 10px;
    font-family: 'VT323';
    
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .pixel:active, .pixel2:active {
    top: 2px;
  }
  
  .pixel {
    line-height: 0;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  }
  
  .pixel p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
   
      background: #000000;
      background:
          linear-gradient(135deg, transparent 10px, #000000 0) top left,
          linear-gradient(225deg, transparent 10px, #000000 0) top right,
          linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
          linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image:
          radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
  }
  
  .pixel2 {
    position: relative;
    display: block;
    margin: 10px;
    text-transform: uppercase;
    font-family: 'neodgm_pro';
    font-size: 25px;
    color: white;
  }
  
  .pixel2::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: black;
    z-index: -1;
  }
  
  .pixel2::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: black;
    z-index: -1;
  }
  
  .pixel2 {
    padding: 10px 10px;
    position: relative;
    background: black;
    width: auto;
    z-index: 2;
  }
  .pont{
    font-family: "neodgm_pro";
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 20px;
  }